@import "tailwindcss";

:root {
  color-scheme: light only;
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffcfa;
  color: #1a3d56;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}

p, li, span, div {
  font-family: var(--font-sans);
}
